/* style.css */

html{
	height: 100%;
}

.default-body{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background: #9acdf7;  /*fallback for old browsers*/
	background: -webkit-linear-gradient(to right, #eef2f3, #9acdf7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #9acdf7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	padding-top: 8%; 
	font-family: Rockwell;
}

.text-bg{
	background: #9acdf7;  /*fallback for old browsers*/
	background: -webkit-linear-gradient(to right, #eef2f3, #9acdf7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #9acdf7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#splash-content{
	text-align: left;
}

#child-content{
	text-align: centre;
	font-size: large;
	
}

.about-block-1 .col-md{
	height: 500px;
	padding-top: 10%;
}


.nav{
	top: 0;
	height: 60x;
	font-family: Rockwell; 
}

.nav-link{
	color: #007bff;
}


.nav-up{
	top: -60;
}

.dropdown-item{
	color: #007bff;
}

.gallery-card{
	width: 18rem;
}

.navbar-bran .img{
	width: 10pc;
}

.page-link, .page-link:hover{
	background-color: #dcdce3;
}

.content-lg{
	background-color: #dcdce3;
	padding-top: 7%;
}

.whitebox{
	background-color: #FFFFFF;
	float: right;
	padding-right: 5%;
}

.bodytext{
	padding-bottom: 1em;

}

.img-col{
	width: 100%;
	justify-content: flex-end;
	background-image: url('img/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg');
	background-size: 100%;
}